nav.uk-navbar.uk-navbar-attached
    a(href="" class="uk-navbar-brand")
      | Haiti House
    ul.uk-navbar-nav
        li.uk-active
          a(href='') ...
        li
          a(href='') ...
        li.uk-parent
          a(href='') ...
