doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/uikit/dist/css/uikit.almost-flat.min.css')
  body
    include header
    block content
    include footer
    script(src="/socket.io/socket.io.js")
    script(src="/lib/jquery/jquery.js")
    script(src="/lib/uikit/dist/js/uikit.min.js")
    script(src="/javascripts/init.js")
