/* ********************* DEVIBOOK.COM **************************************
*
* Created by Lawrence Norton
* Repo: https://github.com/lawrence79/houses-for-charity.git
* User:lawrence79
* Website:tbd
* Date:April 1st,
2014
*
************************************************************************** */

.house-canvas {
  width:660px;
  height:500px;
  background-image: url('../images/house-outline.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
}


